.container{
 display: grid;
 grid-template-columns: repeat(1, 1fr);
}

.header{
  background-color: aqua;
  text-align: center;
}

.main{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: blue;
}

.sidebar{
  
  grid-column-end: span 4;
  background-color: blueviolet;
 
}

.right-side-bar{
  grid-column-end: span 8;
  background-color: rgb(224, 208, 208);
  /* for centering */
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter{
  background-color: black;
  color: aliceblue;
  padding: 40px;
  border-radius: 10px;
}

.increase{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}

.friends{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  
}

.friends > p{
  grid-column-end: span 2;
}
