.container{
 display: grid;
 grid-template-columns: repeat(1, 1fr);
}

.header{
  background-color: aqua;
  text-align: center;
}

.main{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: blue;
}

.sidebar{
  
  grid-column-end: span 4;
  background-color: blueviolet;
 
}

